.accordion {}

.accordion__panel {
  background: lightgrey;
  margin: 0.5rem 0;
}

.accordion__btn {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  background-color: darkslategrey;
  color: white;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 18px;
    height: 18px;
    background-image: url("../../images/icons/chevron-down.svg");
    filter: brightness(0) invert(1);
    transform: translateY(-50%) rotate(0);
    transition: transform 0.3s;
  }
}

.accordion__btn--active {
  &::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, visibility 0.3s ease-out;

  &[aria-hidden="true"] {
    visibility: hidden;
  }
}

.accordion__container {
  padding: 0.5rem;
}