:root {
  --color-primary: darkslategrey;
  --color-secondary: mediumpurple;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f2f2f2;
  --color-text-primary: #222222;
  --color-text-secondary: #9c9c9c;
  --color-text-opposite: #ffffff;
}
